@using QLNS.Models
@model List<GioHang>
@{
    ViewBag.Title = "dathang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>dathang</h2>
<table class="table table-bordered">
    <tr>
        <th>STT</th>
        <th>Tên sách</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
    </tr>
    @using (Html.BeginForm("thanhtoan", "GioHang"))
    {
        int i = 1;
        foreach (var item in Model)
        {
            //ten action, ten controller, tham số chuyền vào action
            <tr>
                <td>@i</td>
                <td>@item.strTenSach</td>
                <td>@item.iSoLuong</td>
                <td>@string.Format("{0:0,0}", item.dThanhtien)</td>
            </tr>
            i += 1;
        }
        <tr>
            <td colspan="2" class="text-right"> So luong :@ViewBag.soluong</td>
            <td colspan="3" class="text-right"> Tong tien :@string.Format("{0:0,0}", ViewBag.thanhtien) </td>
        </tr>
        <tr>
            <td colspan="5" class="text-right">
                @Html.ActionLink("Thanh toán", "thanhtoan", "giohang", null, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>

