@model QLNS.Models.tblSach

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblSach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_sach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_sach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nam_xb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nam_xb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblNXB.ten_nxb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblNXB.ten_nxb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTacGia.ten_tac_gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTacGia.ten_tac_gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTheLoai.ten_the_loai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTheLoai.ten_the_loai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_sach }) |
    @Html.ActionLink("Back to List", "Index")
</p>
