@model QLNS.Models.tblNXB

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblNXB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_nxb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_nxb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_chi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_chi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tt_nguoi_dai_dien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tt_nguoi_dai_dien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_nxb }) |
    @Html.ActionLink("Back to List", "Index")
</p>
